#canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#chart-container {
  width:100%;
  height: 90%;
}

#filtres {
  position: fixed;
  top: 0;
  left: 0;
}

#dataType {
  position: fixed;
  top: 0;
  left: 5%;
}

#dataType1 {
  position: fixed;
  top: 0;
  left: 10%;
}

.chk_department {
  margin-left: 5%;
}
